.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu > ul{
    display: flex;
    justify-content: center; 
    gap: 60px; /* espacio entre elementos */
}

.menu a{
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.submenu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

.TieneSubmenu:hover .submenu{
    display: block;
}

.menu li{
    position: relative;
}