.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0
}
.navbar li {
    margin: 0 15px;
}

.navbar .submenu {
    display: none;
}

.navbar li:hover .submenu {
    display: block;
}

.submenu {
    position: relative;
}