.foto_perfil { 
    width: 300px;
    height: 300px;
    margin-left: 400px;
}   

.nivel1 {
    color: #4ade80;
    margin-left: 730px;
    position: relative;
    top: 160px;
    
}
.nivel {
    color: aliceblue;
    margin-left: 730px;
    position: relative;
    top: 160px;
}
.nivel3 {
    color: #4ade80;
    margin-left: 730px;
    position: relative;
    top: 160px;
}